.grid {
    display: flex;
    flex-direction: column-reverse; /* Reverses the order of items */
    flex-wrap: nowrap; /* Prevents wrapping of items */
    justify-content: space-around; /* Aligns items along the main axis */
    align-items: stretch; /* Stretches items to fill the cross axis */
}

.grid img {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    height: 400px;
    width: 400px;
}
