/* Basic reset and general styles */
body {
  margin: 0;
  font-size: x-large;
  font-family: 'Playfair Display', serif;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

/* Main Grid Container */
.container {
  display: grid;
  grid-template-columns: 1fr; /* Single column layout */
  grid-template-rows: auto auto 1fr auto; /* Adjust as needed for each section */
  grid-template-areas:
    "header"
    "nav"
    "main"
    "footer"; /* Define areas for header, nav, main, and footer */
  gap: 10px;
  padding: 20px;
  min-height: 100vh; /* Full viewport height */
}
.header {
  background: linear-gradient(to right, #13b685, #199337); /* Gradient background */
  padding: 50px 20px;
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.header h1 {
  font-size: 3em; /* Increase the font size for the main heading */
  margin: 0;
}

.nav a:hover {
  text-decoration: underline;
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.nav {
  position: sticky;
  top: 0;
  background-color: #2d7184;
  z-index: 1000;
}


.main {
  grid-area: main;
  padding: 20px;
  display: flex;
  justify-content: center; /* Center the gallery horizontally */
  align-items: center; /* Center the gallery vertically */
  justify-content: space-evenly;
}

/* Footer Styling Similar to Header */
.footer {
  grid-area: footer;
  background: linear-gradient(to right, #13b685, #199337);/* Gradient background */
  padding: 50px 20px; /* Consistent padding with the header */
  text-align: center;
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.footer p {
  margin: 0;
  font-size: 1.5rem;
}


/* Image Gallery Grid */
.main .gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); /* Flexible grid */
  grid-auto-rows: 400px; /* Consistent row height */
  grid-gap: 20px;
  max-width: 1200px; 
  width: 100%; /* Make sure the gallery takes up the available space */
  justify-content: space-evenly; /* Center the images within the gallery */
}

.main .gallery img {
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 8px 8px 19px -1px rgba(15, 14, 15, 1);
}

.main .gallery img:hover {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
}
/* Responsive adjustments with Media Queries */
@media (max-width: 768px) {
  .container {
    padding: 10px;
  }

  .main .gallery {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Smaller min width on smaller screens */
    grid-gap: 10px; /* Smaller gap */
  }

  .main .gallery img {
    object-fit: contain; /* Adjust how images fill their containers on small screens */
  }
}

@media (max-width: 480px) {
  .main .gallery {
    grid-template-columns: 1fr; /* Single column layout on very small screens */
  }
}