body {
  margin: 0;
  font-size: 1rem; /* Standard size for mobile */
  font-family: 'Playfair Display', serif;
}

.header, nav, p {
  font-family: 'Playfair Display', serif;
  font-size: 1rem; /* Standard size for mobile */
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

.grid { 
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  align-items: start;
  justify-items: center;
  }
.grid img {
  border: 1px solid rgba(0,0,0,0.3);
  box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
  max-width: 100%;
}
.grid img:nth-child(6) {
  grid-column: span 5;
  }